<div class="sin-notas" *ngIf="notasService.notas().length === 0">
    <p>Aún no tienes notas.</p>
</div>

<div class="notas-list" *ngIf="notasService.notas().length > 0">

    <div class="notas-card" *ngFor="let nota of notasService.notas()" [style.backgroundColor]="nota.color || '#c9d8ee'" [routerLink]="['/features/notas/componentes/details-notas', nota.id]">

        <div class="zona">
            <button class="delete" (click)="onEliminarDirecto($event, nota.id!)">×</button>
        </div>

        <div class="n-fecha">
            <p>{{ nota.fecha }}</p>
        </div>

        <div class="n-titulo">
            <h1>{{ nota.titulo }}</h1>
        </div>

    </div>

</div>
