.menu-wrapper {
    display: flex;
    justify-content: center; /* eje X */
    align-items: center;     /* eje Y */
    height: 100%;        
    overflow: hidden;   
    flex-wrap: wrap;
}

.menu-contenedor{
    display: grid;
    grid-template-columns: repeat(2, auto); /* 2 columnas */
    justify-content: center;
    grid-template-rows: repeat(3, auto);   /* 3 filas */
    gap: 30px; /* espacio entre los elementos */
    /* padding: 80px; */
    z-index: 10;
}

.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #183258;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(241, 237, 237, 0.068);
    padding: 5px;
    width: 150px;
    cursor: pointer;
}

.menu-item img{
    height: 80px;
}

.menu-item p{
    color: white;
    font-family: 'Trebuchet MS';
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-item:hover{
    background-color: #02204d;
    transform: translateY(-5px);
}

