<app-background>
    <div class="menu-wrapper">
        <div class="menu-contenedor">
            <div class="menu-item" [routerLink]="['/features/asistente']">
                <img src="assets/noa-avatar.png" alt="asistente">
                <p>Asistente</p>
            </div>

            <div class="menu-item" [routerLink]="['/features/notas']">
                <img src="assets/notas.png" alt="notas">
                <p>Notas</p>
            </div>

            <div class="menu-item" [routerLink]="['/features/habitos']">
                <img src="assets/habitos.png" alt="habitos">
                <p>Hábitos</p>
            </div>

            <div class="menu-item" [routerLink]="['/features/agenda']">
                <img src="assets/agenda.png" alt="agenda">
                <p>Agenda</p>
            </div>

            <div class="menu-item" [routerLink]="['/features/metas']">
                <img src="assets/metas.png" alt="metas">
                <p>Metas</p>
            </div>

            <div class="menu-item" [routerLink]="['/features/gastos']">
                <img src="assets/gastos.png" alt="gastos">
                <p>Gastos</p>
            </div>
        </div>
    </div>
</app-background>